{% if site.github_username %}
  {% include icon-github.html username=site.github_username label=false %}
{% endif %}

{% if site.twitter_username %}
  {% include icon-twitter.html username=site.twitter_username label=false %}
{% endif %}

{% if site.google_username %}
  {% include icon-google.html username=site.google_username label=false %}
{% endif %}

{% if site.facebook_username %}
  {% include icon-facebook.html username=site.facebook_username label=false %}
{% endif %}

{% if site.linkedin_username %}
  {% include icon-linkedin.html username=site.linkedin_username label=false %}
{% endif %}

{% if site.instagram_username %}
  {% include icon-instagram.html username=site.instragram_username label=false %}
{% endif %}

{% if site.youtube_username %}
  {% include icon-youtube.html username=site.instragram_username label=false %}
{% endif %}

{% if site.irc_username %}
  {% include icon-irc.html username=site.irc_username label=false %}
{% endif %}
